.chat-main
  .groupInfo
    .groupInfo__group
      .groupInfo__groupName
        =@group.name
      %ul.groupInfo__memberList
        Member ：
        %li.groupInfo__member
          - @group.group_users.each do | group_user |
            = group_user.user.name
    .groupInfo__edit
    = link_to edit_group_path(@group), class: "groupInfo__editBtn" do
      Edit

  .chat-main__messageList
    = render @messages
    .messageList

  .chat-main__message-form
    = form_with model: [@group, @message], html: {class: "form__contents"}, local: true do |f|
      .form__inputBox
        = f.text_field :content, class: 'form__inputText', placeholder: 'type a message'
        = f.label :image, class: 'message-image' do
          = icon('far', 'image', class: 'form__inputIcon')
          = f.file_field :image, class: 'Hidden'
      = f.submit 'Send', class: 'form__submitBtn'