.side-bar
  .side-bar__user-name
    .top-items
      .top-items__name
        =current_user.name
      %ul.top-items__iconList
        %li.top-items__Icon
          = link_to new_group_path(), class: "top-items__Icon top-items__Icon--edit" do
            = icon('fas', 'edit',  class: "top-items__btn--icon")
        %li.top-items__Icon
          = link_to edit_user_path(current_user), class: "top-items__Icon top-items__Icon--cog" do
            = icon('fas', 'cog',  class: "top-items__btn--icon")
  .side-bar__group-lists
    - current_user.groups.each do |group|
      .group-list
        = link_to edit_group_path(group.id), class: "group-list__link-style" do
          .group-list__name
            = group.name
          .group-list__new-message
            メッセージはまだありません